body {
    margin: 0px;
    padding: 0px;
}

#section1 {
    background: transparent;
    opacity: 1;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(42, 93, 50, 0.2);
    backdrop-filter: blur(15px);
}

#section1 .nav {
    width: 82%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 5.5em;
}

#section1 .nav .logo {
    width: 40%;
}

#section1 .nav .logo img {
    width: 30%;
}

#section1 .nav .navbar {
    display: flex;
    width: 60%;
    justify-content: space-around;
}

#section1 .navbar h4 {
    color: rgba(255, 255, 255, 0.842);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 85%;
    font-weight: 550;
}

#section1 .nav .navbar input[type="button"] {
    border: 0px;
    border-radius: 10px;
    width: 25%;
    margin: 0.2rem 0px;
    background: linear-gradient(to right, #ccff00, #42f586c5);
    font-weight: 800;
    transition: all 0.3s ease;
    outline: none;
    cursor: pointer;
}

#section1 .navbar input[type="button"]:hover {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.719);
}

#section2 {
    background-color: black;
    text-align: center;
}

#section2 .section2-wrap {
    padding: 8rem 0rem 3rem 0em;
}

#section2 h1 {
    color: #ffffff;
    margin: 0px;
    font-size: 650%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 85%;
}

#section2 span {
    color: #d0fa26;
    text-shadow: 0 0 10px rgb(248, 248, 62);
}

#section2 h2 {
    font-size: 130%;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffffda;
}

#section2 .buttons {
    display: flex;
    width: 25%;
    margin: auto;
    justify-content: space-between;
}

#section2 .buttons input:nth-child(1) {
    border: 0px;
    border-radius: 10px;
    width: 45%;
    padding: 1rem;
    margin: 0.2rem 0px;
    background: linear-gradient(to right, #ccff00, #42f586c5);
    font-weight: 800;
    transition: all 0.3s ease;
    outline: none;
    cursor: pointer;
}

#section2 .buttons input:nth-child(1):hover {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.719);
}

#section2 .buttons input:nth-child(2) {
    background-image: url(https://density-uploads-dev.s3.ap-south-1.amazonaws.com/market-assets/Images/qrcode.svg);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: left 5% center;
    background-color: rgba(77, 77, 77, 0.534);
    border: 1px solid rgba(255, 255, 255, 0.363);
    border-radius: 10px;
    width: 45%;
    margin: 0.2rem 0rem;
    padding-left: 0.5rem 2rem;
    padding-right: 0.5rem;
    color: white;
    text-align: end;
    box-sizing: border-box;
    font-size: 90%;
    font-weight: 500;
}

#section2 .buttons input:nth-child(2):hover {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.719);
}


#section2 .section2-wrap .mobile-div {
    border-radius: 500px;
    overflow: hidden;
    position: relative;
    background-color: #34d874;
    border: 2px solid black;
    box-shadow: inset 0px 0px 100rem 200px rgb(0, 0, 0);
    margin: 0.2rem 0px;
    padding: 3rem 0px;
}

#section2 .details {
    border-radius: 10px;
    box-shadow: 0 0 8px 0 rgba(255, 255, 0, 0.753);
    display: grid;
    width: 90%;
    margin: auto;
    padding: 3rem 0px;
    grid-template-columns: repeat(4, 1fr);
}

#section2 .details .info {
    border-right: 2px solid;
    border-image: linear-gradient(to bottom, #ccff00, #42f586c5);
    border-image-slice: 1;
}

#section2 .details .info:nth-child(4) {
    border-right: 0px;
}

#section2 .details span {
    color: #ffffffbe;
    text-shadow: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#section2 .details h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0px;
    padding-bottom: 4%;
    background: linear-gradient(to bottom, #ccff00, #42f587);
    -webkit-background-clip: text;
    /* for only inside the text */
    background-clip: text;
    color: transparent;
    /* make the text transparent */
}

#section3 {
    background-color: black;
}

#section3 .section3-inner {
    width: 50%;
    margin: auto;
    padding: 6rem;
}

#section3 .section3-inner .cover {
    display: flex;
    justify-content: center;
    align-items: center;
}

#section3 .text {
    text-align: center;
}

#section3 .text h1 {
    margin: 1rem;
    color: rgb(253, 243, 225);
    font-size: 500%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#section3 .text span {
    color: #aaaaaa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
}

#section4 .section4-inner {
    overflow: hidden;
}

#section4 .slide {
    display: none;
}

#section4 .slide.active {
    display: block;
    animation: slideIn 1s ease forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


#section4 {
    background-color: black;
}

#section4 .section4-inner {
    width: 75%;
    margin: auto;
    padding: 4rem;
}

#section4 .section4-inner .slide {
    padding: 3rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section4 .section4-inner .slide .img1-div {
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    align-items: flex-start;
}

#section4 .section4-inner .slide .img1 {
    width: 45%;
    height: 35%;
}


#section4 .section4-inner .slide .img2 {
    width: 40%;
    height: 20%;
}

#section4 .section4-inner .slide h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.7rem;
    margin: 0.5rem;
    font-weight: 400;
    width: 75%;
    color: #ffffff;
}

#section4 .section4-inner .slide span {
    font-size: 1.4rem;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(240, 248, 255, 0.712);
}

#section4 .section4-inner .slide .img-info {
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    align-items: flex-start;
}

#section5 {
    background-color: black;
    padding: 8rem 0px;
}

#section5 .heading {
    border: 1px solid whitesmoke;
    border-image: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0)) 1;
    width: 80%;
    margin: auto;
    border-left: none;
    border-right: none;
}

#section5 .heading h1 {
    text-align: center;
    font-size: 4.5rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.658), rgb(255, 255, 255));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#section5 .logo {
    display: grid;
    width: 70%;
    margin: auto;
    padding: 5rem;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    grid-auto-rows: auto;
    gap: 3rem;
    row-gap: 5rem;
}

#section5 .logo .img-wrap {
    display: flex;
    justify-content: center;
    width: 100%;
}

#section5 .logo .img-wrap:nth-child(5) {
    justify-content: left;
}

#section5 .logo .img-wrap:nth-child(7) {
    display: flex;
    justify-content: end;
}

#section5 .images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    row-gap: 3rem;
    margin: auto;
    width: 70%;
}

#section5 .images .img-cover {
    display: flex;
    flex-direction: column;
    /* to print every content block element without showing next to each other*/
    justify-content: center;
    align-items: center;
}

#section5 .images .img-cover img {
    clip-path: inset(0.1rem 0 0 0);
}

#section5 .images .img-cover h1 {
    text-align: center;
    color: #ffffff;
    font-size: 130%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#section5 .images .img-cover span {
    text-align: center;
    color: #8d8d8d;
    font-size: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#section6 {
    background-color: #592796;
    box-shadow: inset 0px 0px 500px 100px black;
    text-align: center;
    padding-top: 10rem;
}

#section6 .heading {
    margin: 0px 0px 5rem 0px;
}

#section6 .heading span {
    color: white;
    font-weight: 00;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#section6 h1 {
    color: #ffffff;
    margin: 0px;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

#section6 h1:nth-child(2) {
    color: #fbff00;
    padding-bottom: 1rem;
}

#section6 .grid {
    width: 70%;
    margin: auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

#section6 .grid .grid-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.432);
    border-radius: 10px;
    padding: 3rem 2rem;
    background: transparent;
    opacity: 1;
    background-color: rgba(228, 228, 228, 0.151);
    backdrop-filter: blur(5px);
}

#section6 .grid .grid-inner img {
    width: 25%;
    margin: auto;
}

#section6 .grid .grid-inner span {
    color: white;
    font-size: x-large;
    padding: 1rem 0px;
}

#section6 button {
    border: 0px;
    border-radius: 10px;
    width: 25%;
    height: 3.1rem;
    font-size: medium;
    font-weight: 600;
    text-align: center;
    margin: 5rem 0px;
    background: linear-gradient(to right, #ccff00, #42f587);
}

#section6 .group-img img {
    width: 75%;
}

#section7 {
    background-color: black;
    text-align: center;
    padding: 8rem;
}

#section7 h1 {
    color: #ffffff;
    margin: 0px;
    padding: 1.5rem;
    font-size: 4.5rem;
    font-family: sans-serif;
}

#section7 h1 span {
    color: #fbff00;
}

#section7 h1+span {
    color: #888888;
    font-size: x-large;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#section7 .img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem;
}

#section7 .img img {
    width: 80%;
    transition: transform 1s ease;
}

#section7 .img:hover img,
.img.show-zoom img {
    transform: scale(1.2);
}


#section7 .img button {
    width: 30%;
    height: 3rem;
    border-radius: 10px;
    border: none;
    margin-top: 4rem;
    font-weight: 600;
    font-size: larger;
    background: linear-gradient(to right, #ccff00, #42f586c5);
}



#questions {
    background-color: black;
    padding: 8rem 0rem;
}

#questions .heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

#questions .heading span {
    color: #ffffff;
    font-weight: 900;
    font-family: sans-serif;
    font-size: 3.8rem;
}

#questions .que-ans {
    width: 90%;
    margin: 2rem auto;
    padding: 3rem;
    border-radius: 10px;
    background-color: #2b2b2b81;
}

#questions .que-ans .que {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

#questions .que-ans span {
    color: #ffffffaf;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: small;
}

#questions .ans {
    display: none;
}


#phone {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

#phone img {
    width: 50%;
    height: 100%;
    margin: -18.5rem auto 0rem auto;
}

#phone h1 {
    font-size: 900%;
    color: #ffffff;
    background: linear-gradient(to bottom, rgb(255, 255, 255, 1), rgba(0, 0, 0, 1));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#phone button {
    position: absolute;
    bottom: 15rem;
    width: 65%;
    height: 8%;
    border-radius: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(to left, #ccff00, #42f587);
    border: 0px;
    box-shadow: 0 0 2rem 0 rgba(255, 255, 255, 0.685);
}

#footer {
    background-color: #229751;
    padding: 2rem 0px;
}

#footer .density_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

#footer .density_logo img {
    width: 8%;
}

#footer .footer_nav {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

#footer .footer_nav h5 {
    color: rgba(240, 248, 255, 0.904);
    font-weight: 300;
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#footer .info {
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 1rem;
}

#footer .info span {
    color: rgb(224, 224, 224);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#footer .info h4 {
    color: #fdfdfdf6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: medium;
}

#footer .social {
    display: flex;
    width: 15%;
    margin: auto;
    padding: 2rem;
    justify-content: space-around;
}

#footer .social a {
    text-decoration: none;
    color: #ffffff;
    font-size: x-large;
}